*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(221, 211, 211);
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.container1{
    width: 1340px;
    margin: 0 auto;
}
.nav{
    position: sticky;
    top: 0;
    background-color: rgba(221, 211, 211, .5);
    z-index: 3;
}
.nav .container1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav-list{
    display: flex;

}

.nav-item__link{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.1s;
    margin: 0px 5px;
}
.nav-item__link:hover{
    color: goldenrod;
    background-color: rgb(77, 67, 67);
    border-radius: 10px;

}
.offer{
    text-decoration: underline;
    padding: 5px;
}
.header {
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 70px;
}
.border{
    border-left: 1px solid grey;
    overflow: hidden;
    padding: 20px;
    width: 40%;
}
.content__title{
    padding: 20px 0px;
}
.content__text{
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 50px;
}
.content__note{
    text-decoration: none;
    color: white;
    padding: 15px;
    background-color: rgb(41, 37, 37);
    transition: .3s;
    border-radius: 10px;
}
.content__note:hover{
    background-color: rgb(22, 20, 20);
    color:goldenrod;
}
.header-image{
    width: 40%;
}
.image-photo{
    width: 100%;
    margin-bottom: 50px;
}
.advice-section .container{
    padding: 40px;
}
.advice-list{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.advice-item{
    width: 30%;
    padding: 50px 10px;
}
.advice-item__title{
    font-size: 20px;
    padding: 20px 0px;
    width: 350px;
}
.advice-item__text{
    font-size: 15px;
    width: 300px;
}
.main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preview{
    height: 500px;
}
.footer{
    padding: 50px;
    background-image: url("./images/runners.jpg");
    display: flex;
    align-items: center;
    height: 500px;
    background-image: url("./images/runners.jpg");
    background-size: cover;
}
.border1{
    border-right: 1px solid grey;
    overflow: hidden;
    padding: 20px;
    width: 40%;
    transition: 0.3s;
}
.footer-content{
    color: white;
    transform: translateX(500px);
}
.footer__text{
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 50px;
}
.right-side{
    transform: translateX(600px);
}
.purchase{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email{
    outline: none;
    padding: 10px;
    background-color:  rgb(97, 93, 93);
    border: none;
}
.email:hover{
    background-color:  rgb(24, 23, 23);
    
}
label{
    display: flex;
    align-items: center;
}
.submit{
    background-color: goldenrod;
    outline: none;
    padding: 10px;
    color: white;
    border: none;
    transition: 0.3s;
}
.submit:hover{
    background-color: rgb(24, 23, 23);
    color: goldenrod;
}
::placeholder{
    color: goldenrod;
}
